@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
    background: linear-gradient(to top, #bc8b6fe8 50%, #c2774b 90%) no-repeat;
    overflow: hidden;
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #d6d4d4;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    border-radius: 10px;
    text-align: left;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #dbdbdb;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form-content label {
    color: #dbdbdb;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
}

.form-content input[type=text],
.form-content input[type=password],
.form-content input[type=email],
.form-content input[type=number],
.form-content select {
    width: 100%;
    padding: 12px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #dbdbdb;
    font-size: 15px;
    color: #8D8D8D;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.form-content input[type=text]:hover,
.form-content input[type=password]:hover,
.form-content input[type=email]:hover,
.form-content input[type=number]:hover,
.form-content select:hover {
    background-color: #ebeff8;
}

.form-content .form-button {
    margin-top: 20px;
}

.btn {
    cursor: pointer;
    outline: none !important;
    border: none !important;
}

.btn-primary {
    background-color: #794526c1;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #794526;
}

.btn-danger {
    background-color: #dc3545;
    color: #ffffff;
    margin-right: 10px;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
