body {
    font-family: Arial, sans-serif;
    background-color: #446442;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #10360d;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card {
    background-color: #cdcdcd;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.card-title {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #10360d;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button,
input[type="submit"] {
    padding: 8px 12px;
    /* Menor padding */
    background-color: #6f8b6f;
    color: rgb(224, 224, 224);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    /* Para exibição lado a lado */
    margin-right: 10px;
    /* Espaçamento entre os botões */
    flex: 1;
    /* Faz com que os botões ocupem o mesmo espaço */
}

button:hover,
input[type="submit"]:hover {
    background-color: #183a0f !important;
    color: #011102 !important;
}

a:hover {
    text-decoration: underline;
    background-color: #2c5b19;
}

.btn-primary {
    background-color: #2c5b19;
    border: #2c5b19;
}

.form-select {
    color: #10360d;
}

.button-group {
    display: flex;
    /* Alinha os botões lado a lado */
    gap: 10px;
    /* Espaço entre os botões */
}

.btn-secondary {
    color: #fff;
    background-color: #102208c5;
    border-color: #2c5b1990;
}